<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date - %-5level - [%thread] %c{2} - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>

    <logger name="de.lcag.jbox.backend" level="DEBUG"/>
<!--
    <logger name="org.hibernate.SQL" level="TRACE" />
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" />
-->
</configuration>